html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
  /* max-width сделано для того что бы изображение не  выходило за пределы контейнера в котором находится */
}

body {
  min-width: 320px;
  /*min-width сделано для пользователей мобильных устройств  контент будет заскейлен вниз (уменьшен масштаб) 768 было*/
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
}

.btn {
  outline: none;
  border: none;
}

/* 
========================
header
========================
*/

.header {
  position: relative;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  z-index: 100;
  background-color: #FFFFFF;
}



.header__input {
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 0;
}

/* 
========================
main
========================
*/



.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.table__thead {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}

.table__thead tr {
  border-style: hidden;
}

.table__tbody {
  background-color: #FFFFFF;
}

.table__text-decorated {
  color: #9873FF;
}

.table__text-decoration-dim {
  color: #B0B0B0;
}

.table__btn {
  padding: 0;
  padding-left: 15px;
}

.table__btn-change {
  margin-right: 15px;
  background-image: url("../img/btn__table-change-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.table__btn-change:hover {
  color: #9873FF;
}

.table__btn-delete:hover {
  color: #F06A4D;
}

.table__btn-delete {
  background-image: url("../img/btn__table-delete-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.table__fives-column {
  max-width: 130px;
}



.table__bullet:nth-child(n + 5) {
  display: none;
}

.table__bullet.table__bullet--visible {
  display: inline;
}

.table__btn-open {
  padding: 0;
  padding-right: 1px;
  padding-top: 1px;
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #9873FF;
  background-color: transparent;
  font-weight: 600;
  font-size: 8px;
  opacity: 0.7;
}

.table__btn-open:hover {
  opacity: 1;
}



/* кода преминяем сортировку добавить ! */
.table__thead-col--active .table__arrow {
  transform: rotateX(180deg);
}

.table__arrow-active .table__thead-col {
  color: #9873FF;
}

.table__thead-col {
  transition: color .3s;
}

.table__thead-col:hover {
  color: #9873FF;
}

.table__bullet {
  margin-right: 7px;
  opacity: 0.7;
}

.table__bullet:hover {
  opacity: 1;
}

.main__add-button {
  margin: 0;
  padding: 0;
  padding: 14px 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #9873FF;
  border: 1px solid #9873FF;
  border-radius: 0;
  background-color: transparent;
}

.main__add-button__icon {
  margin-right: 10px;
}

.main__add-button {
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.main__add-button:hover {
  color: #FFFFFF;
  background-color: #B89EFF;
  border: 1px solid #9873FF;
}

.main__add-button svg path {
  transition: fill .3s ease-in-out;
}

.main__add-button:hover svg path {
  fill: #FFFFFF;
}

.main__add-button:active {
  color: #FFFFFF;
  background-color: #8052FF;
  border: 1px solid #9873FF;
}

.main__add-button:active svg path {
  fill: #FFFFFF;
  ;
}

/* 
========================
popUp-rc
========================
*/

.popup-rc {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 8000;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

}

.popup-rc__box {
  position: relative;
  width: 450px;
  min-width: 450px;
  padding: 22px;
  background-color: #FFFFFF;
  transform: scale(0);
  transition: transform .5s ease-in-out;
}

.popup-rc__title {

  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.popup-rc__descr {
  text-align: center;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.popup-rc__btn-submit {
  margin-bottom: 5px;
  padding: 13px 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #9873FF;
  border: 1px solid #9873FF;
  border-radius: 0;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.popup-rc__btn-submit:hover {
  color: #FFFFFF;
  background-color: #B89EFF;
  border: 1px solid #9873FF;
}

.popup-rc__btn-submit:active {
  color: #FFFFFF;
  background-color: #8052FF;
  border: 1px solid #9873FF;
}

.popup-rc__btn-cancel {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}

.popup-rc__btn-close {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 19px;
  top: 16px
}


.popup-rc__btn-close svg path {
  transition: fill .3s;
}

.popup-rc__btn-close:hover svg path {
  fill: #8052FF
}

.popup-rc__btn-close:active svg path {
  fill: #F06A4D
}


.popup-rc.open {
  visibility: visible;
  opacity: 1;
}

.popup-rc.open .popup-rc__box {
  transform: scale(1);
}



/* 
========================
popUp-new
========================
*/

.popup-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-top: 150px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 8000;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  overflow-y: auto;
  

}

.popup-new__box {
  position: relative;
  margin: 100px 15px;
  max-width: 450px;
  padding: 22px;
  background-color: #FFFFFF;
  transform: scale(0);
  transition: transform .5s ease-in-out;
 
}

.popup-new__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.popup-new__title-changes {
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.popup-new__id-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #B0B0B0;
}

.popup-new__changes-module {
  margin-bottom: 20px;
}

.popup-new__btn-submit {
  margin-bottom: 5px;
  padding: 13px 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #9873FF;
  border: 1px solid #9873FF;
  border-radius: 0;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.popup-new__btn-submit:hover {
  color: #FFFFFF;
  background-color: #B89EFF;
  border: 1px solid #9873FF;
}

.popup-new__btn-submit:active {
  color: #FFFFFF;
  background-color: #8052FF;
  border: 1px solid #9873FF;
}

.popup-new__btn-cancel {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}

.popup-new__btn-close {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 19px;
  top: 16px
}

.popup-new__btn-close svg path {
  transition: fill .3s;
}

.popup-new__btn-close:hover svg path {
  fill: #8052FF
}

.popup-new__btn-close:active svg path {
  fill: #F06A4D
}

.popup-new.open {
  visibility: visible;
  opacity: 1;
}

.popup-new.open .popup-new__box {
  transform: scale(1);
}

/* работа с инпутами и лейблами */

.add-form__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #B0B0B0;
  transform: translateY(-30px);
  transition: transform .3s ease-in-out, font-size .3s ease-in-out;
}

.add-form__decor {
  color: #9873FF
}

.add-form__inp {
  width: 400px;
  padding-left: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #B0B0B0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;


}

.add-form__inp:focus {
  border-bottom: 1px solid #F06A4D;
  box-shadow: none;
  outline: none;
}

.add-form__inp:focus+.add-form__label {
  font-size: 10px;
  transform: translateY(-55px)
}

.add-form__inp:not(:placeholder-shown)+.add-form__label {
  font-size: 10px;
  transform: translateY(-55px)
}

/* работа с инпутами и лейблами */

/* работа с серой полоской */

.add-form__container {
  background-color: rgba(200, 197, 209, 0.2);

  padding: 25px 22px;
  margin: 0 -22px;
}

.contact-block {
  border-radius: 0;
}



.choices {
  border: none;
  border: 1px solid #C8C5D1;
  border-radius: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 37px;

  width: 123px;
}

.choices__inner {
  padding: 13px 12px;
  line-height: 0;
  border: none;
  background-color: #E7E5EB;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  min-height: 35px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0px
}

.choices__list {
  background-color: #F4F3F6;


}

.choices__list.choices__list--single {
  background-color: #E7E5EB;
}

.choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
  background-image: url('../img/choises__arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.choices[data-type*=select-one].is-open::after {
  border-color: transparent;
  margin: 0;
}


.contact-block__inp {
  padding: 8px 12px;
}

/* choises */

.contact-block__inp {
  background-color: transparent;
  border: none;
  border: 1px solid #C8C5D1;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-right: 0;
  /* font-size: 17px; */
  width: 241px;
  height: 37px;
}

.contact-block__inp:focus {
  outline: none;
}

.contact-block__btn-close {
  border-radius: 0;
  height: 37px;
  border: 1px solid #C8C5D1;
  background-color: #E7E5EB;
  transition: border-color .3s ease-in-out;
}

.contact-block__btn-close svg path {
  transition: fill .3s ease-in-out;
}

.contact-block__btn-close:hover {
  border-color: #F06A4D;
  background-color: #E7E5EB;
}

.contact-block__btn-close:hover svg path {
  fill: #F06A4D;
}


/* работа с серой полоской */

.add-form__add-contact-button {
  padding: 0;
  border-radius: 0;
  outline: none;
  border: none;
}

.add-form__add-contact-button:hover {
  color: #9873FF;
}



.add-form__contact-block:not(:last-child) {
  margin-bottom: 15px;
}

.add-form__contact-block:last-child {
  margin-bottom: 25px;
}

.add-form__container {
  margin-bottom: 22px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.popup-new__error-msg-box {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #F06A4D;
}

.preloader {
height: 300px;
opacity: 1;

background-color: #FFF;
transition:opacity 0.5s ease-in-out, height 0.5s ease-in-out;
visibility: visible;
}

.preloader--hidden {
  height: 0;
  opacity: 0;
  
  z-index: -1;
}

.preloader__column {
  position: relative;
}
.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #9873FF;
}

.spinner-popup {
  z-index: 2000;
}

.popup-new__preloader {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 96%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  transform: scale(1);
  transition:opacity 0.5s ease-in-out, transform 0.5s ease-in-out ;
}

.popup-new__preloader--hidden {
  
  opacity: 0;
  transform: scale(0);
  z-index: -1;
}